<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techintheworld.www.edots" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.techintheworld.www.edots.MainActivity" />
        </activity>
        <activity
            android:name=".GetPatientActivity"
            android:label="@string/title_activity_get_patient" >
        </activity>
        <activity
            android:name=".NewPatientDataActivity"
            android:label="@string/title_activity_new_patient_data" >
        </activity>
        <activity
            android:name=".CheckFingerPrintActivity"
            android:label="@string/title_activity_check_finger_print" >
        </activity>
        <activity
            android:name=".ConfirmPatientActivity"
            android:label="@string/title_activity_confirm_patient" >
        </activity>
        <activity
            android:name=".PatientHomeActivity"
            android:label="@string/title_activity_patient_home" >
        </activity>
        <activity
            android:name=".MedicalHistoryActivity"
            android:label="@string/title_activity_medical_history" >
        </activity>
        <activity
            android:name=".NewVisitActivity"
            android:label="@string/title_activity_new_visit" >
        </activity>
        <activity
            android:name=".WorkerLoginActivity"
            android:label="@string/title_activity_worker_login" >
        </activity>
        <activity
            android:name=".PatientTypeActivity"
            android:label="@string/title_activity_patient_type" >
        </activity>
    </application>

</manifest>
